# 调式模式
APP_DEBUG = true

# 应用Trace （本地开发专用）
APP_TRACE = true

# 项目标题
TITLE = '曾记大排档'

# 静态资源 拼接的路径
STATIC_URL = ''

# redis
[REDIS]
HOST = 127.0.0.1
PASSWORD =
PORT = 6379

# mysql
[MYSQL]
HOST = 127.0.0.1
DATABASE = zeng
USERNAME = zeng
PASSWORD =
PORT =

# 后台管理系统 上传文件的限制
[UPLOAD]
# 图片的大小 kb
IMAGE_SIZE = 100
# 视频的大小 kb
VIDEO_SIZE = 2048

# 是否开启cos上传
COS_OPEN = false

# 腾讯云cos 文件存储
[COS]
# 云 API 密钥 SecretId
SECRET_ID = ''
#  云 API 密钥 SecretKey
SECRET_KEY = ''
# 地区 - 区域 设置一个默认的存储桶地域
REGION = 'ap-guangzhou'
# 存储桶名称 格式：BucketName-APPID
BUCKET = ''
# 前缀url
PREFIX_URL = ''

# LIVE2D 看板娘组件
[LIVE2D]
# 默认开启
OPEN = true

# SKIN 皮肤 为空则默认 样式 目前只支持 skin1 皮肤1
[SKIN]
src =