{include file='common/head' /}
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="./index.html">
            <img class="image-logo" src="/static/images/zeng_logo.png">
            &nbsp;{$CONFIG_TITLE}
        </a>
    </div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                        <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                        <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                        <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                        <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                        <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">&nbsp;&nbsp;{$AdminInfo.name}&nbsp;{$AdminInfo.account}</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a onclick="xadmin.open('个人信息','/admin/system/edit?id={$AdminInfo.id}')">个人信息</a></dd>
                <dd><a href="/admin/login/logout.html" onclick="closeAllTab();">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
{include file='common/menu' /}
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
{if !empty($LIVE2D.open)}
{include file='common/live2d' /}
{/if}

<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <button class="layui-btn layui-btn-normal layui-btn-small" onclick="loadRefresh()"><i class="layui-icon">&#xe669;</i>刷新
            </button>
            <button class="layui-btn layui-btn-danger layui-btn-small" onclick="closeAllTab()"><i class="layui-icon">&#xe640;</i>删除
            </button>
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/admin/index/welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<script src="__LAYUI__/jq.js"></script>
<script>
    // 关闭所有标签
    function closeAllTab() {
        var tabtitle = $(".layui-tab-title li");
        $.each(tabtitle, function (i) {
            if ($(this).attr("lay-id") != '11')
                layui.element.tabDelete('xbs_tab', $(this).attr("lay-id"));
        });
        location.reload();
    }

    // 刷新
    function loadRefresh() {
        location.reload();
    }
</script>
</body>
{include file='common/footer' /}