{include file='common/head' /}
<style>
    .custom {
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    .custom_button {
        width: 50px;
        height: 30px;
        line-height: 30px;
        background: forestgreen;
        margin-left: 5px;
    }
    .custom_margin {
        margin-top: 10px;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <input type="hidden" name="id" value="{$_GET['id']}">
                        <div class="layui-inline layui-show-xs-block">
                            <select name="bill_type">
                                <option value="" selected>收支筛选</option>
                                <option value="1" >收入</option>
                                <option value="2" >支出</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select name="type">
                                <option value="">类型筛选</option>
                                {volist name="typeMap" id="v"}
                                <option value="{$key}" {if condition="$get['type'] == $key"}selected{/if}>{$v}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始时间" name="start" id="start" value="{$get.start|default=''}">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="截止时间" name="end" id="end" value="{$get.end|default=''}">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('提现记录','/admin/users/withdrawList?id={$_GET.id}','','',true)">
                        <i class="layui-icon">&#xe60a;</i>提现记录
                    </button>
                    <span style="line-height:40px;float: right;">
                        累计喵呗：{$wallet.miaos} 元,
                        累计提现：{$wallet['gold']} 元,
                        可提现：{$wallet.balance} 元,
                        共有数据：{$count} 条
                    </span>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="text-align: center;">收入/支出</th>
                            <th style="text-align: center;">类型</th>
                            <th style="text-align: center;">喵呗奖励(分)</th>
                            <th style="text-align: center;">状态</th>
                            <th style="text-align: center;">生成时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="v"}
                        <tr>
                            <td style="text-align: center;">
                                {switch name="v.bill_type" }
                                {case value="1"}收入{/case}
                                {case value="2"}支出{/case}
                                {/switch}
                            </td>
                            <td style="text-align: center;">
                                {$typeMap[$v.type]}
                            </td>
                            <td style="text-align: center;">{$v.reward}</td>
                            <td style="text-align: center;">
                                {$statusMap[$v.status]}
                            </td>
                            <td style="text-align: center;">{:date('Y-m-d H:i:s',$v['add_time'])}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['form','laydate'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        // 监听全选
        form.on('checkbox(checkall)', function(data){
            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });
    });
</script>
{include file='common/footer' /}