<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>曾记管理后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!--    <meta name="referrer" content="never">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="__LAYUI__/css/font.css">
    <link rel="stylesheet" href="__LAYUI__/css/xadmin.css">
    <!-- <link rel="stylesheet" href="__LAYUI__/css/theme5.css"> -->
    <script src="__LAYUI__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__LAYUI__/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="/static/common/headjs/html5.min.js"></script>
    <script src="/static/common/headjs/respond.min.js"></script>
    <link rel="stylesheet" href="/static/common/css/style.css">
    <script src="/static/common/js/common.js"></script>

    {if !empty($CONFIG_SKIN.src)}
    <link rel="stylesheet" href="/static/common/css/skin/{$CONFIG_SKIN.src}.css">
    {/if}

    <!--[endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
        window.CONFIG_UPLOAD = {$CONFIG_UPLOAD | json_encode = true
        }
        ;
    </script>
</head>